@import 'settings', 'variables','normalize';

body {
    font-size:1.8rem;
    font-family: 'Rubik', sans-serif;
}

.attribution { font-size: 11px; text-align: center; margin-top:2rem;}
.attribution a { color: hsl(228, 45%, 44%); }
